/* Swizzled copy (with room for custom tweaks) */
.toggle {
  width: 2rem;
  height: 2rem;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background var(--ifm-transition-fast), transform 180ms ease;
}

.toggleButton:hover {
  background: var(--ifm-color-emphasis-200);
  transform: rotate(8deg) scale(1.02);
}

.toggleIcon { display: inline-block; }

.toggleButtonDisabled { cursor: not-allowed; }

